.site {
    display: grid;
    grid-template-areas:
    'header'
    'nav'
    'main'
    'sidebar'
    'footer';
    grid-gap: rem(30px);
    max-width: rem(540px);
    margin: 0 auto;
    padding: rem(0 15px);
    grid-template-columns: minmax(0, 1fr);

    @include mq($from: tablet) {
        max-width: rem(720px);
    }

    @include mq($from: desktop) {
        grid-template-columns: $size__site-main $size__site-sidebar;
        grid-template-areas:
        'header header'
        'nav nav'
        'main sidebar'
        'footer footer'; 
        max-width: rem(910px);
    }
}

.site-header {
    grid-area: header;
}

.main-navigation {
    grid-area: nav;
}

.main-content {
    grid-area: main;
}

.sidebar {
    grid-area: sidebar;
}

.site-footer {
    grid-area: footer;
}