body {
    padding-top: rem($header-height-mobile + 30px);
    @include mq($from: tablet) {
        padding-top: rem($header-height + 60px);
    }
}


.container {
    max-width: rem(540px);
    @include center-block;
    padding: rem(0 15px);

    @include mq($from: tablet) {
        max-width: rem(720px);
    }
    @include mq($from: desktop) {
        max-width: rem(990px);
    }
}

.layout {
    display: grid;
    grid-template-areas:
    'main'
    'sidebar';
    grid-gap: rem(40px);
    grid-template-columns: minmax(0, 1fr);
    @include mq($from: desktop) {
        grid-template-columns: $size__site-main $size__site-sidebar;
        grid-template-areas:
        'main sidebar'; 
    }
}

.main-content {
    grid-area: main;
}

.sidebar {
    grid-area: sidebar;
}