button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $gold-drop;
	border-radius: $border-radius;
	background: none;
	line-height: 1;
	padding: rem(10px 15px);
	font-size: rem(14px);
	cursor: pointer;
	transition: $transition;
	min-height: rem(48px);
	outline: 0;
	
	@include attention() {
		background-color: $gold-drop;
		color: $white;
	}
}
