button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $gold-drop;
	border-radius: $border-radius;
	background-color: $gold-drop;
	color: $white;
	line-height: 1;
	padding: rem(10px 15px);
	font-size: rem(14px);
	cursor: pointer;
	transition: $transition;
	min-height: rem(40px);
	outline: 0;
	font-weight: 700;
	
	@include attention() {
		background-color: darken($gold-drop, 10%);
	}
}
