input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $dove-gray;
	border: rem(1px solid $alto);
	border-radius: $border-radius;
	padding: rem(5px);
	font-size: inherit;

	&:focus {
		color: $mine-shaft;
		outline: none;
	}
}

select {
	border: rem(1px solid $alto);
}

textarea {
	width: 100%;
	resize: vertical;
}
