dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	position: relative;
	margin: rem(50px 0);
	padding: rem(8px 65px);
	border-top: 1px dashed $alto;
	border-bottom: 1px dashed $alto;
	font-weight: 700;
	font-size: rem(17px);
	text-align: center;

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		content: "“";
		font-size: rem(75px);
		color: lighten($alto, 5%);
	}
}