html {
	@include rem-baseline;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body,
button,
input,
select,
optgroup,
textarea {
	color: $mine-shaft;
	font-family: $lora;
	font-size: rem(15px);
	line-height: $font__line-height-body;
}

//@import "headings";

//@import "copy";
