html {
	@include rem-baseline;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body,
button,
input,
select,
optgroup,
textarea {
	color: $mine-shaft;
	font-family: $lora;
	font-size: rem(16px);
	line-height: $font__line-height-body;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr {
    margin:  0;
    padding: 0;
}

@import "headings";

@import "copy";
