.widget {
	margin: rem(0 0 50px);
	font-size: rem(14px);
	padding: rem(20px 15px);
	background: lighten($alto, 11%);
	border-radius: $border-radius;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.widget-title {
	text-align: center;
	line-height: 1.2;
}

.widget_amaedoandre_recent_posts {
	.widget-title {
		margin-bottom: rem(30px);
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		position: relative;
		padding-left: rem(72px);
		min-height: rem(60px);
		box-sizing: content-box;
		&:not(:last-child) {
			margin-bottom: rem(12px);
			padding-bottom: rem(12px);
			border-bottom: rem(1px dotted $alto);
		}
	}

	a {
		color: inherit;
		@include attention() {
			color: $gold-drop;
		}
	}

	.post-icon img {
		width: rem(60px);
		border-radius: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	.post-title {
		font-weight: 700;
		margin-bottom: 0;
		line-height: 1.3;
	}

	.post-date {
		font-size: rem(13px);
		color: $dove-gray;
		margin-bottom: 0;
		font-style: italic;
	}
}

.widget_amaedoandre_events {
	.widget-title {
		margin-bottom: rem(30px);
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		position: relative;
		padding-left: rem(72px);
		min-height: rem(60px);
		box-sizing: content-box;
		&:not(:last-child) {
			margin-bottom: rem(12px);
			padding-bottom: rem(12px);
			border-bottom: rem(1px dotted $alto);
		}
	}

	a {
		color: inherit;
		@include attention() {
			color: $gold-drop;
		}
	}

	.event-photo img {
		width: rem(60px);
		border-radius: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	.event-title {
		font-weight: 700;
		margin-bottom: 0;
		line-height: 1.3;
		margin-bottom: rem(2px);
	}

	.event-meta {
		font-size: rem(13px);
		
		margin-bottom: 0;
		font-style: italic;
	}

	.no-events {
		text-align: center;
		a {
			color: $gold-drop;
			@include attention() {
				color: $mine-shaft;
			}
		}
	}
}

.widget_amaedoandre_blog_info {
	text-align: center;
	.photo {
		width: rem(150px);
		border-radius: 100%;
		margin: 0 auto;
		display: block;
	}
	.widget-title {
		margin: rem(12px 0);
	}

	.text {
		margin-bottom: rem(16px);
	}
}

.widget_amaedoandre_newsletter {
	.widget-description,
	.mc-field-group {
		margin-bottom: rem(10px);
	}

	.widget-description {
		text-align: center;
	}

	.email {
		width: 100%;
		height: rem(40px);
	}

	input[type="submit"] {
		width: 100%;
	}


	.post-widgets & {
		.widget-title,
		.widget-description {
			text-align: left;
		}
		@include mq($from: tablet) {
			form {
				position: relative;
			}
			.email {
				width: calc(100% - 140px);
			}
			
			input[type="submit"] {
				position: absolute;
				right: 0;
				top: 0;
				width: 130px;
			}
		}
	}
}