.widget {
	margin: rem(0 0 50px);
	font-size: rem(14px);
	padding: rem(20px 15px);
	background: lighten($alto, 11%);
	border-radius: $border-radius;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.widget_amaedoandre_recent_posts {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		position: relative;
		padding-left: rem(70px);
		min-height: rem(50px);
		margin-bottom: rem(12px);
		padding-bottom: rem(12px);
		border-bottom: rem(1px dotted $alto);
		box-sizing: content-box;
	}

	a {
		color: inherit;
		@include attention() {
			color: $gold-drop;
		}
	}

	.post-icon img {
		width: rem(50px);
		border-radius: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	.post-title {
		font-weight: 700;
		margin-bottom: 0;
	}

	.post-date {
		font-size: rem(13px);
		color: $dove-gray;
		margin-bottom: 0;
	}
}

.widget_amaedoandre_blog_info {
	text-align: center;
	.photo {
		width: rem(150px);
		border-radius: 100%;
		margin: 0 auto;
		display: block;
	}
	.widget-title {
		margin: rem(12px 0);
	}

	.text {
		margin-bottom: rem(16px);
	}
}