// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Apply ‘attention’ styles in one go.
@mixin attention($self: false) {

    @if($self != false) {

        &,
        &:hover,
        &:active,
        &:focus {
            @content;
        }

    }

    @else {

        &:hover,
        &:active,
        &:focus {
            @content;
        }

    }

}

@mixin hide() {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

@mixin admin-sticky-fix( $offset: 0 ) {
    $narrow-offset: 46px;
    $wide-offset: 32px;
    @if $offset != 0 and type-of($offset) == 'number' {
      $narrow-offset: $narrow-offset + $offset;
      $wide-offset: $wide-offset + $offset;
    }
    .admin-bar & {
      top: $narrow-offset;
      @media screen and (min-width: 783px) {
        top: $wide-offset;
      }
    }
  }