ul, ol {
	margin: rem(0 0 20px 40px);
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: rem(20px)
}

dt {
	font-weight: bold;
}

dd {
	margin: rem(0 20px 20px);
}
