.site-header {
    height: rem($header-height);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: $white;
    box-shadow: 1px 1px 40px rgba($black,0.4);
    transition: $transition;
    z-index: 2;
    .logged-in & {
        top: 32px;
    }
    .container {
        position: relative;
        height: 100%;
    }

    &.collapsed {
        height: rem($header-height - 45px);
    }
}

.site-title {
    margin: 0;
    a {
        display: block;
        font-size: 0;
        line-height: 0;
        background: url(images/dist/logo.svg) no-repeat;
        width: rem(130px);
        height: rem(90px);
        .collapsed & {
            width: rem(80px);
            height: rem(50px);
        }
    }
} 

.site-title {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}