.site-header {
    height: 160px;
    position: relative;
}

.site-header-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $white;
}

.site-title {
    margin: 0;
    a {
        display: block;
        font-size: 0;
        line-height: 0;
        background: url(images/dist/logo.svg) no-repeat;
        width: rem(130px);
        height: rem(90px);
    }
} 

.site-branding {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}