.site-header {
    height: 220px;
    position: relative;
}

.site-header-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $white;
}

.site-title {
    margin: 0;
    a {
        display: block;
        font-size: 0;
        line-height: 0;
        background: url(images/dist/logo.svg) no-repeat;
        width: rem(150px);
        height: rem(100px);
    }
} 

.site-branding {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}