a {
	color: $gold-drop;
	text-decoration: none;
	transition: all .2s;

	&:visited {
		color: $mine-shaft;
	}
	&:hover,
	&:focus,
	&:active {
		color: $mine-shaft;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
