a {
	color: $gold-drop;
	text-decoration: none;
	transition: $transition;
	cursor: pointer;

	@include attention() {
		color: $mine-shaft;
	}
	
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
