

.main-navigation {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    @include mq($from: tablet) {
        left: auto;
        right: 0;
    }
    .menu {
        display: none;
        list-style: none;
        margin: 0;
        a {
            color: $mine-shaft;
            @include attention() {
                opacity: .7;
            }
        }
        @include mq($from: tablet) {
            display: flex;
            > li{
                margin-right: rem(30px);
            }
        }
    }
}
