.social-links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    
    li {
        &:not(:last-child) {
            margin-right: rem(10px);
        }

        &.facebook a {
            border-color: $facebook;
            @include attention() {
                background-color: $facebook;
            }
        }
        &.twitter a {
            border-color: $twitter;
            @include attention() {
                background-color: $twitter;
            }
        }
        &.instagram a {
            border-color: $instagram;
            @include attention() {
                background-color: $instagram;
            }
        }
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
		border: 1px solid;
		border-radius: 100%;
		line-height: rem(35px);
        font-size: rem(14px);
        width: rem(35px);
        height: rem(35px);
		cursor: pointer;
        transition: $transition;
        color: $mine-shaft;

		@include attention() {
            color: $white;
        }
        
    }

    .icon {
        position: static;
    }
}