.sticky {
	display: block;
}

.hentry {
	margin-bottom: rem(40px);
	padding-bottom: rem(40px);
	border-bottom: rem(1px dotted $alto);
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: rem(20px 0 0);
}

.page-links {
	clear: both;
	margin:  rem(0 0 20px);
}

.post-thumbnail {
	img {
		display: block;
		border-radius: rem(10px);
	}
}

.entry-title {
	font-size: rem(23px);
	letter-spacing: rem(.5px);
	margin: rem(0 0 4px);
	a {
		color: inherit;
		@include attention() {
			color: $gold-drop;
		}
	}
}

.entry-meta {
	color: $dove-gray;
	font-size: rem(12px);
	.meta {
		display: inline-block;
		margin-right: rem(18px);
	}

	a {
		color: $mine-shaft;
		border-bottom: rem(1px dotted $dove-gray);
		@include attention() {
			color: $gold-drop;
		}
	}
}

.byline {
	.archive-view & {
		@include hide();
	}
}

.entry-content {
	> *:last-child {
		margin-bottom: 0;
	}
	
	h1 {
		font-size: rem(23px);
	}
	
	h2 {
		font-size: rem(22px);
	}
	
	h3 {
		font-size: rem(21px);
	}
	
	h4 {
		font-size: rem(20px);
	}
	
	h5 {
		font-size: rem(18px);
	}
	
	h6 {
		font-size: rem(16px);
	}
}

.post-navigation {
	margin-bottom: rem(40px);
    padding-bottom: rem(40px);
	border-bottom: 1px dotted $alto;
	
	.nav-links {
		display: flex;
		justify-content: space-between;
	}

	a {
		display: block;
		color: $mine-shaft;
		position: relative;
		padding-left: rem(80px);
		font-size: rem(14px);
		min-height: rem(60px);
		@include attention() {
			.post-title {
				color: $gold-drop;
			}
		}
	}

	.meta-nav {
		display: block;
	}

	.post-thumb {
		width: rem(60px);
		border-radius: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}

	.nav-next {
		a {
			padding-left: 0;
			padding-right: rem(80px);
			text-align: right;
		}
		.post-thumb {
			left: auto;
			right: 0;
		}
	}

	.post-title {
		font-weight: 700;
	}
}
