.sticky {
	display: block;
}

.hentry {
	margin-bottom: rem(40px);
	padding-bottom: rem(40px);
	border-bottom: rem(1px dotted $alto);
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: rem(20px 0 0);
}

.page-links {
	clear: both;
	margin:  rem(0 0 20px);
}

.post-thumbnail {
	img {
		display: block;
	}
}

.cat-links {
	font-style: italic;
	text-transform: uppercase;
	font-size: rem(14px);
	a {
		color: inherit;
		@include attention() {
			color: $gold-drop;
		}
	}
}

.entry-title {
	font-size: rem(35px);
	margin: rem(0 0 8px);
	line-height: 1.2;
	@include mq($from: tablet) {
		font-size: rem(40px);
	}
	a {
		color: inherit;
		@include attention() {
			color: $gold-drop;
		}
	}
}

.entry-meta {
	color: $dove-gray;
	font-size: rem(14px);
	display: flex;
	font-style: italic;
	.meta + .meta {
		&:before {
			padding: rem(0 6px);
			content: '\2022';
			opacity: .2;
		}
	}

	a {
		color: $mine-shaft;
		border-bottom: rem(1px dotted $dove-gray);
		@include attention() {
			color: $gold-drop;
		}
	}
}

.byline {
	.archive-view & {
		@include hide();
	}
}

.entry-content {
	
	h1 {
		font-size: rem(23px);
	}
	
	h2 {
		font-size: rem(22px);
	}
	
	h3 {
		font-size: rem(21px);
	}
	
	h4 {
		font-size: rem(20px);
	}
	
	h5 {
		font-size: rem(18px);
	}
	
	h6 {
		font-size: rem(16px);
	}
}

.tags-links {
	font-style: italic;
	font-size: rem(14px);
}

.share-this {
	display: flex;
	align-items: center;
	margin: 2rem 0 0;

	.label {
		margin-right: 10px;
		font-size: rem(13px);
	}
}

.search-results {
	.page-title span {
		font-style: italic;
	}
}